main {
  display: flex;
  min-height: calc(100vh - 162.88px);
  .main-content {
    flex-grow: 1;
    background-color: $grey-bg-color;
    padding: 40px 42px;
  }
  .main-content.dashboard {
    .dashboard-row {
      display: flex;
      column-gap: 71px;
      row-gap: 69px;
      flex-wrap: wrap;
    }
    .card {
      height: 299px;
    }
    .card-body {
      height: calc(100% - 40.41px);
    }
    .card-small {
      flex-basis: 35%;
    }
    .card-medium {
      flex-basis: 52%;
    }
  }
  .main-content.add-items {
    .form-fields-container {
      column-gap: 18px;
    }
    table {
      margin-top: 10px;
      text-align-last: left;
    }
    .card-bottom {
      margin-top: 35px;
    }
    .card {
      min-height: 299px;
    }
    .card-body {
      min-height: calc(100% - 40.41px);
    }
  }
  .main-content.issue {
    .button-container {
      margin-top: 20px;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
    .card-top {
      .card-body {
        display: flex;
        column-gap: 57px;
        .image-container {
          width: 137px;
          flex-shrink: 0;
        }
      }
      .primary-form {
        flex-grow: 1;
        .form-fields-container {
          max-width: 100%;
          flex-wrap: nowrap;
          column-gap: 40px;
        }
        .form-left {
          display: flex;
          column-gap: 60px;
          flex-wrap: wrap;
          row-gap: 25px;
          border-right: solid 1px $primary-color;
        }
        .form-right {
          display: flex;
          flex-direction: column;
          row-gap: 25px;
        }
      }
    }

    .card-bottom {
      margin-top: 20px;
      min-height: 299px;
      .form-fields-container {
        max-width: 100%;
        column-gap: 25px;
        flex-wrap: nowrap;
        .form-field {
          width: 230px;
        }
      }
      table {
        margin-top: 20px;
      }
    }
  }
}
